<div class="flex flex-col items-start justify-start w-72 gap-7">
  <div class="flex justify-between items-center mt-10 px-7 w-full">
    <span class="text-2xl text-black font-bold">Menu</span>
    <fa-icon [icon]="faMenu" class="text-xl text-black"></fa-icon>
  </div>
  <ul class="sidebar-nav px-5 w-full">
    <li
      *ngFor="let item of navItems"
      class="nav-item"
      [class.active]="isActiveRoute(item.url)"
    >
      <a
        [routerLink]="item.url"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link px-5 py-2 flex items-center gap-4 rounded-md mb-4 hover:bg-primary/10 hover:text-secondary transition-colors duration-200"
      >
        <fa-icon [icon]="item.icon" class="nav-icon"></fa-icon>
        <span class="nav-text">{{ item.text }}</span>
      </a>
    </li>
  </ul>
</div>
