<div
  class="navbar flex justify-between items-center border-b-[1px] border-solid border-gray-300 px-5 h-20 bg-white"
>
  <!-- Logo -->
  <div class="flex">
    <img
      src="/assets/images/logo/logo.png"
      class="h-16 w-32 object-cover"
      alt="Logo AppGestion Commerciale"
    />
  </div>
  <div class="flex justify-center items-center gap-10">
    <div class="research-nav relative flex items-center">
      <input
        type="text"
        class="border-2 border-solid border-gray-300 rounded-lg w-80 px-10 py-1 text-lg text-gray-400 focus:border-gray-300 focus:ring-2 focus:ring-gray-300"
      />
      <button class="absolute left-2 top-1/2 transform -translate-y-1/2">
        <fa-icon [icon]="faSearch" class="text-gray-400 text-xl"></fa-icon>
      </button>
    </div>
    <div class="flex-items-center">
      <button class="flex">
        <span class="text-2xl">🇫🇷</span>
      </button>
    </div>
    <div class="flex-items-center">
      <button class="flex">
        <fa-icon
          [icon]="faSetting"
          class="flex text-lg text-gray-400"
        ></fa-icon>
      </button>
    </div>
    <div class="flex-items-center">
      <button class="flex">
        <fa-icon
          [icon]="faNotification"
          class="flex text-lg text-gray-400"
        ></fa-icon>
      </button>
    </div>
    <div class="flex-items-center cursor-pointer">
      <img
        src="/assets/images/img/nv/possin.png"
        class="h-12 w-12 rounded-full object-cover p-1 border-[1px] border-solid border-gray-300"
        alt=""
      />
    </div>
  </div>
</div>
